<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>

    <Configuration>Release</Configuration>
    <EnvironmentName>Production</EnvironmentName>
    <!-- denna parameter fungerar för publicering inom Visual Studio genom "Build >> Publish Web..." -->
    <PublishUrl>T:\lkr_web_apps\plandokumentsapplikation</PublishUrl>
    <!-- denna parameter fungerar för publicering genom CLI genom "dotnet publish" -->
    <PublishDir>T:\lkr_web_apps\plandokumentsapplikation</PublishDir>

  </PropertyGroup>

  <Import
      Project="$(MSBuildProjectDirectory)\Properties\PublishProfiles\PublishSecretEnvironmentVariables.targets"
      Condition="Exists('$(MSBuildProjectDirectory)\Properties\PublishProfiles\PublishSecretEnvironmentVariables.targets')" />


</Project>