<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <!-- <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration> -->
    <Configuration>Debug</Configuration>
    <EnvironmentName>StagingDevelopment</EnvironmentName>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <!-- denna parameter fungerar för publicering inom Visual Studio genom "Build >> Publish Web..." -->
    <PublishUrl>C:\dev\Plandokument_v2\publish\web</PublishUrl>
    <!-- denna parameter fungerar för publicering genom CLI genom "dotnet publish" -->
    <PublishDir>C:\dev\Plandokument_v2\publish\web</PublishDir>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <_TargetId>Folder</_TargetId>
    <SiteUrlToLaunchAfterPublish />
    <TargetFramework>net10.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <ProjectGuid>2464120b-6872-4d8d-a8b0-ca2bc39d1e0c</ProjectGuid>
    <SelfContained>false</SelfContained>

    

    <!-- 
      TODO: KAN INTE SKICKA MED TECKEN SOM = och ; DÅ DESSA FÅR ANDRA BETYDELSER I TRANSFORMATIONEN
      MSBuild hanterar tecknena direkt inskrivna som egna properties under PropertyGroup men ; kan inte skickas in som parameter vid anrop från konsol.
      Detta fungerar i pubxml-filen
        <ConStrSQLServer>FOO=BAR MER;TEST</ConStrSQLServer>
      Inte detta från konsol
        dotnet publish {csproj-fil} /p:ConStrSQLServer="FOO=BAR MER;TEST"
    -->
    <ConStrSQLServer></ConStrSQLServer>

    <ConStrPostgresSQL></ConStrPostgresSQL>

    <!-- Kan erhålla flera grupper genom kommaseparering -->
    <AdminAllowedGroups>ABC,DEF</AdminAllowedGroups>
    <AdminAllowedUsers>XYZ,ÅÄÖ</AdminAllowedUsers>


  </PropertyGroup>



  <!-- Systemparametrar för användning i deployment script.
        OBS! Ska inte ändras om man inte vet vad man gör. Hanterar hemligheter på likartat sätt som Microsoft för samma värdenn i utveckling. -->
  <PropertyGroup>
    <UserSecretsDirectory>$(APPDATA)\Microsoft\UserSecrets\$(UserSecretsId)</UserSecretsDirectory>
    <GeneratedEnvironmentVariablesFile>$(UserSecretsDirectory)\generated-environment-variables.xml</GeneratedEnvironmentVariablesFile>
  </PropertyGroup>


  <!-- Bygger environmentVariables-XML-träd med namn/värde-par m.h.a. DOT.NET inbyggda XML-hantering för att bl.a. hantera reserverade tecken i MSBuild- och TransformWebConfig-kedjan -->
  <UsingTask
      TaskName="GenerateEnvironmentVariablesXml"
      TaskFactory="RoslynCodeTaskFactory"
      AssemblyFile="$(MSBuildToolsPath)\Microsoft.Build.Tasks.Core.dll">

    <ParameterGroup>
      <MSSQLServerName ParameterType="System.String" Required="true" />

      <PGSQLName ParameterType="System.String" Required="true" />

      <MSSQLServerValue ParameterType="System.String" Required="true" />

      <PGSQLValue ParameterType="System.String" Required="true" />

      <Result ParameterType="System.String" Output="true" />
    </ParameterGroup>

    <Task>

      <Using Namespace="System" />
      <Using Namespace="System.Text" />
      <Using Namespace="System.Xml.Linq" />

      <Code Type="Fragment" Language="cs"><![CDATA[

        var environmentVariables =
            new XElement("environmentVariables");

        environmentVariables.Add(
            new XElement(
                "environmentVariable",
                new XAttribute("name", MSSQLServerName),
                new XAttribute("value", MSSQLServerValue)));

        environmentVariables.Add(
            new XElement(
                "environmentVariable",
                new XAttribute("name", PGSQLName),
                new XAttribute("value", PGSQLValue)));

        Result = environmentVariables.ToString(
            SaveOptions.DisableFormatting);

      ]]></Code>

    </Task>

  </UsingTask>


  
  <!-- Injecterar XML-fragment i publicerad web.config-fil -->
  <UsingTask
      TaskName="InjectEnvironmentVariables"
      TaskFactory="RoslynCodeTaskFactory"
      AssemblyFile="$(MSBuildToolsPath)\Microsoft.Build.Tasks.Core.dll">

    <ParameterGroup>
      <ConfigFile ParameterType="System.String" Required="true" />

      <EnvironmentVariablesFile ParameterType="System.String" Required="true" />
    </ParameterGroup>

    <Task>

      <Using Namespace="System" />
      <Using Namespace="System.IO" />
      <Using Namespace="System.Linq" />
      <Using Namespace="System.Xml.Linq" />

      <Code Type="Fragment" Language="cs"><![CDATA[

        var config = XDocument.Load(ConfigFile);
        var environment =
            XDocument.Load(EnvironmentVariablesFile)
                    .Root;

        if (environment == null)
        {
            Log.LogError(
                "Environment variable XML saknar root-element.");

            return false;
        }

        XNamespace aspNetCoreNamespace =
            "http://schemas.microsoft.com/XML-Document-Transform";

        var aspNetCore =
            config
                .Descendants("aspNetCore")
                .FirstOrDefault();

        if (aspNetCore == null)
        {
            Log.LogError(
                "Elementet <aspNetCore> hittades inte i {0}.",
                ConfigFile);

            return false;
        }

        var existingEnvironmentVariables =
            aspNetCore.Element("environmentVariables");

        if (existingEnvironmentVariables == null)
        {
            existingEnvironmentVariables =
                new XElement("environmentVariables");

            aspNetCore.Add(existingEnvironmentVariables);
        }

        foreach (var variable in
                environment.Elements("environmentVariable"))
        {
            existingEnvironmentVariables.Add(
                new XElement(variable));
        }

        config.Save(ConfigFile);

        return true;

      ]]></Code>

    </Task>

  </UsingTask>


  <!-- Bygger array-baserad namn/värde-par enligt web.config environmentVariable namnkonvention -->
  <!-- Tänkt att användas BeforeTargets="_TransformWebConfig" och resultatet ska  -->
  <UsingTask
      TaskName="GenerateArrayEnvironmentVariables"
      TaskFactory="RoslynCodeTaskFactory"
      AssemblyFile="$(MSBuildToolsPath)\Microsoft.Build.Tasks.Core.dll">

    <ParameterGroup>
      <Values ParameterType="System.String" Required="true" />

      <Name ParameterType="System.String" Required="true" />

      <Result ParameterType="System.String" Output="true" />
    </ParameterGroup>

    <Task>

      <Using Namespace="System" />
      <Using Namespace="System.Text" />

      <Code Type="Fragment" Language="cs"><![CDATA[

        var values = Values.Split(
            new[] { ',' },
            StringSplitOptions.None);

        var result = new StringBuilder();

        for (int i = 0; i < values.Length; i++)
        {
          var value = values[i].Trim();

          if (i > 0)
              result.Append(';');

          result.Append(Name);
          result.Append("__");
          result.Append(i);
          result.Append('=');
          result.Append(value);
        }

        Result = result.ToString();

      ]]></Code>

    </Task>
  </UsingTask>



  <Target Name="PrepareEnvironmentVariables"
          BeforeTargets="_TransformWebConfig">

    <PropertyGroup>
      <!-- <UserSecretsDirectory>$(APPDATA)\Microsoft\UserSecrets\$(UserSecretsId)</UserSecretsDirectory> -->
      <!-- <GeneratedEnvironmentVariablesFile>$(UserSecretsDirectory)\generated-environment-variables.xml</GeneratedEnvironmentVariablesFile> -->
      <!-- <GeneratedEnvironmentVariablesFile>$(IntermediateOutputPath)generated-environment-variables.xml</GeneratedEnvironmentVariablesFile> -->
    </PropertyGroup>


    <GenerateArrayEnvironmentVariables
        Values="$(AdminAllowedGroups)"
        Name="Application__Authorizations__Admins__AllowedGroups">

      <Output
          TaskParameter="Result"
          PropertyName="AdminAllowedGroupsEnvironmentVariables" />

    </GenerateArrayEnvironmentVariables>

    <GenerateArrayEnvironmentVariables
        Values="$(AdminAllowedUsers)"
        Name="Application__Authorizations__Admins__AllowedUsers">

      <Output
          TaskParameter="Result"
          PropertyName="AdminAllowedUsersEnvironmentVariables" />

    </GenerateArrayEnvironmentVariables>


    <GenerateEnvironmentVariablesXml
        MSSQLServerName="Databases__SqlServer__ConnectionString"
        MSSQLServerValue="$(ConStrSQLServer)"
        PGSQLName="Databases__Postgres__ConnectionString"
        PGSQLValue="$(ConStrPostgresSQL)">

      <Output
          TaskParameter="Result"
          PropertyName="GeneratedEnvironmentVariablesXml" />

    </GenerateEnvironmentVariablesXml>

    <MakeDir
          Directories="$(UserSecretsDirectory)" />

    <WriteLinesToFile
        File="$(GeneratedEnvironmentVariablesFile)"
        Lines="$(GeneratedEnvironmentVariablesXml)"
        Overwrite="true" />


    <PropertyGroup>
      <WebConfigEnvironmentVariables>$(AdminAllowedGroupsEnvironmentVariables);$(AdminAllowedUsersEnvironmentVariables)</WebConfigEnvironmentVariables>
    </PropertyGroup>

  </Target>


  <Target Name="InjectGeneratedEnvironmentVariablesXml"
        AfterTargets="_TransformWebConfig">

    <PropertyGroup>
      <!-- <UserSecretsDirectory>$(APPDATA)\Microsoft\UserSecrets\$(UserSecretsId)</UserSecretsDirectory> -->
      <!-- <GeneratedEnvironmentVariablesFile>$(UserSecretsDirectory)\generated-environment-variables.xml</GeneratedEnvironmentVariablesFile> -->
      <!-- <GeneratedEnvironmentVariablesFile>$(IntermediateOutputPath)generated-environment-variables.xml</GeneratedEnvironmentVariablesFile> -->
      <PublishedWebConfig>$(PublishDir)web.config</PublishedWebConfig>
    </PropertyGroup>


    <InjectEnvironmentVariables
        ConfigFile="$(PublishedWebConfig)"
        EnvironmentVariablesFile="$(GeneratedEnvironmentVariablesFile)" />

  </Target>


  <Target Name="CleanupGeneratedEnvironmentVariables"
        AfterTargets="AfterPublish">

    <Delete
        Files="$(GeneratedEnvironmentVariablesFile)"
        Condition="Exists('$(GeneratedEnvironmentVariablesFile)')" />

    <Message
        Importance="High"
        Text="Raderade genererad environment XML-fragment: $(GeneratedEnvironmentVariablesFile)" />

  </Target>


</Project>