#wrapper {
    position: relative;
}
#contentIndex {
    float: left;
    width: 15%;
    line-height: 2em;
    position: fixed;
    top: 0px;
    left: 0px;
    padding-top: 2em;
}

    #contentIndex ul {
        margin: 0px;
        padding-left: 1em;
        list-style: none;
    }

#content {
    margin-left: 15%;
    border-left: 1px solid rgb(135, 182, 217);
    padding-left: 2em;
    width: 70%;
}

#contentIndex ul a:before {
    color: rgb(135, 182, 217);
    font-family: "bootstrap-icons";
    content: "\F231";
    margin-right: 0.2em;
    transform: rotate(45deg);
    display: inline-block;
    position: relative;
    font-size: 0.7em;
    /*list-style-image: url('../pic/list-style-8x8.png');*/
}

#contentIndex a {
    color: black;
    text-decoration: none;
    font-size: 1.4em;
}
    #contentIndex a:visited {
        color: black;
    }

h1, h2, h3, h4, h5 {
    font-weight: bold;
    color: rgb(95, 170, 225);
    margin-top: 0em;
    margin-bottom: 0em;
    padding-top: 0.5em;
    padding-bottom: 0em;
    line-height: 1em;
}

h1 {
    font-size: 2.0em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
    color: black;
    font-style: italic;
}

p {
    font-size: 1.3em;
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 2em;
}

ol {
    list-style: decimal;
    padding-left: 2em;
    font-size: 1.3em;
}

ul {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 2em;
}
li {
    display: list-item;
}

ul.ul-bas {
    font-size: 1.3em;
}

.adresSearch {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    letter-spacing: 0.1em;
    font-size: 1.3em;
}

table {
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    letter-spacing: 0.1em;
    font-size: 1.3em;
    line-height: 1em;
}

td {
    vertical-align: top;
    padding: 9px 14px;
}

.exempel {
    color: rgb(21, 84, 16);
    margin: 20px 0px;
    padding: 20px;
    background-color: rgb(227, 255, 225);
    border-left: 3px solid rgb(34, 131, 26);
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    letter-spacing: 0.1em;
    font-size: 1.3em;
    line-height: 1em;
}
    .exempel span.exempelrubrik {
        letter-spacing: 0em;
        font-weight: bold;
        display: block; 
        margin-bottom: 10px;
    }
    .exempel p {
        font-family: "Trebuchet MS", sans-serif;
        letter-spacing: 0.1em;
        font-size: 1em;
        line-height: 1em;
    }