<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      
      <aspNetCore processPath=".\Landskrona.Plandokument.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
      </aspNetCore>
      
      <!-- Application Initialization, detta i kombination med inställning i applikationspool Start Mode = AlwaysRunning, Idle Time-out = 0, Recycling Specific Times = 05:00:00 -->
      <applicationInitialization doAppInitAfterRestart="true">
        <add initializationPage="/api/health/warmup" />
      </applicationInitialization>
      
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 2464120b-6872-4d8d-a8b0-ca2bc39d1e0c-->